.our-story {
  margin-top: 0 !important;
  padding: 0 !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.sliding-carousel .row .col {
  padding: 0 0 !important;
  margin-bottom: 0px !important;
}

.whiten-text {
  color: white !important;
  font-weight: 600;
}

.sliding-carousel .row {
  margin-bottom: 0px !important;
}

.slider .indicators .indicator-item.active {
  background-color: #EF4A81 !important;
  border: 3px solid #ffffff !important;
}

.sign {
  width: 50%;
  height: 50%;
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: 'Chivo', sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  -webkit-animation: shine 2s forwards, flicker 3s infinite;
          animation: shine 2s forwards, flicker 3s infinite;
}

@-webkit-keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  -webkit-animation: shine 2s forwards, blink 3s 2s infinite;
          animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  -webkit-animation: shine 2s forwards, blink 10s 1s infinite;
          animation: shine 2s forwards, blink 10s 1s infinite;
}

@-webkit-keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@-webkit-keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: 'Chivo', sans-serif;
  font-size: 17px;
  font-weight: 500;
}

p {
  font-family: 'Chivo', sans-serif;
}

.lychee-font {
  font-family: 'Fresh Lychee', sans-serif;
}

.maps-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.nav-wrapper {
  padding: 0 3%;
}

.sliding-carousel {
  background-color: #54c3e8;
}

.brand-logo {
  font-size: 100%;
}

.brand-logo-img {
  margin: 5px;
  width: 130px;
  padding: 20px 0 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.brand-logo-img:hover {
  margin: 5px;
  width: 131px;
  padding: 20px 0 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.choco-txt {
  color: #7B3F00;
}

.bg-pink1 {
  background-color: #EF4A81;
}

.bg-pink2 {
  background-color: #f2a1c2;
}

.bg-blue {
  background-color: #54c3e8;
}

.bg-chocolate {
  background-color: chocolate;
}

.product-slider {
  width: 100%;
}

.melting-layer {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'fresh_lycheeregular', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fresh Lychee', sans-serif;
}

/* label color */
.input-field label {
  color: white;
}

/* label focus color */
.input-field input:focus + label {
  color: white;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #444;
  -webkit-box-shadow: 0 1px 0 0 #444;
          box-shadow: 0 1px 0 0 #444;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #444;
  -webkit-box-shadow: 0 1px 0 0 #444;
          box-shadow: 0 1px 0 0 #444;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #444;
  -webkit-box-shadow: 0 1px 0 0 #444;
          box-shadow: 0 1px 0 0 #444;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: white;
}
/*# sourceMappingURL=styles.css.map */