// Color palette
$primary-colour: #EF4A81;
$secondary-colour: #f2a1c2;
$blue-colour: hwb(195 33% 9%);
$headings-colour: chocolate;
body {
    font-family: 'Chivo', sans-serif;
}

p {
    font-family: 'Chivo', sans-serif;
}

.lychee-font {
    font-family: 'Fresh Lychee', sans-serif;
}

.sliding-carousel {
    background-color: $primary-colour;
}

.brand-logo-img {
    margin: 5px;
    width: 150px;
    padding: 20px 0 0;
}

.choco-txt {
    color: #7B3F00;
}

//Background colour classes
.bg-pink1 {
    background-color: $primary-colour;
}

.bg-pink2 {
    background-color: $secondary-colour;
}

.bg-blue {
    background-color: $blue-colour;
}

.bg-chocolate {
    background-color: $headings-colour;
}

// Product Slider Images
.product-slider {
    width: 100%;
}

// Melting Layer
.melting-layer {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'fresh_lycheeregular', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fresh Lychee', sans-serif;
}

// This code below is for the contact form

/* label color */

.input-field label {
    color: white;
}


/* label focus color */

.input-field input:focus+label {
    color: white;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #444;
    box-shadow: 0 1px 0 0 #444;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #444;
    box-shadow: 0 1px 0 0 #444;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #444;
    box-shadow: 0 1px 0 0 #444;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: white;
}