// Color palette
$primary-colour: #EF4A81;
$secondary-colour: #f2a1c2;
$blue-colour: #55C5E9;
$headings-colour: chocolate;
// Navigation bar with carousel
html,
body {
    height: 65vh;
}

.carousel,
.item,
.active {
    height: 65vh;
}

.carousel {
    top: 0;
}

.carousel-inner {
    height: 65vh;
}

.carousel-inner img {
    margin: auto;
}

// Remove default browser styling
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Menu section
.pink-txt {
    color: $primary-colour;
}

.blue-txt {
    color: $blue-colour;
}

.choco-txt {
    color: #44261d;
}

// Navigation bar
.navbar-nav li {
    font-family: 'Roboto', sans-serif;
}

// Navigation bar and brand section
#brand-section {
    background-color: $primary-colour;
    color: white;
    position: relative;
}

.brand-content {
    padding: 50px 10px 5px;
}

.brand-text {}

.brand-img {
    width: 75%;
}

.melting-img {
    width: 100%;
    height: 100%;
}

// Carousel section
.monthly-specials-section {
    background-color: $secondary-colour;
    text-align: center;
    color: white;
    padding: 45px 25px 45px;
}

.specials-header {
    color: #44261d;
}

.milkbay-poster {
    width: 75%;
    text-align: center;
}

// Customer section
.customer-section {
    text-align: center;
    padding: 45px 25px 0;
}

.customer-details {
    text-align: left;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: 0.75rem;
}

.bg-gradient {
    background-image: var(--bs-gradient)!important;
}

// Mailing List Section
.mailing-list-section {
    background-color: $primary-colour;
    color: white;
}

.mail-header {
    color: white;
}

.newsletter {
    padding: 80px 0;
    background-color: $blue-colour;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px;
}

.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}

.newsletter .content .btn {
    min-height: 50px;
    border-radius: 0;
    background: #243c4f;
    color: #fff;
    font-weight: 600;
}

// Google Maps Location
.maps-location {
    text-align: center;
}

.google-maps {
    width: 100%;
    height: 450px;
}

// Footer section
.footer {
    background-color: $primary-colour;
    text-align: center;
    color: white;
    padding: 0 75px 0;
}

.footer-text {
    text-align: left;
}

.social-icons {
    text-align: left;
}

// Main elements 
h1 {
    font-family: 'Fresh Lychee', sans-serif;
    font-size: 85px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h2 {
    font-family: 'Fresh Lychee', sans-serif;
    font-size: 55px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h3 {
    font-family: 'Fresh Lychee', sans-serif;
    font-size: 55px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-link {
    font-size: 17px;
}

hr {
    border: none;
    border-top: 1px dotted #f00;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 50%;
}

// Menu page 
// CSS Styling
.milkshakes-section {
    background-color: $secondary-colour;
}

.milkybay-title {
    font-size: 17px;
    font-family: 'Fresh Lychee', sans-serif;
    font-size: 75px;
    padding: 0 30px;
}

.milkybay-poster {
    margin: 300px 30px;
}

.milkybay-text {
    font-size: 25px;
    padding: 15px 65px 0;
}

.milkshakes-title {
    color: $primary-colour;
    font-size: 65px;
}

.milkshakes-txt {
    color: $blue-colour;
}

.kids-milkshakes {
    background-color: $blue-colour;
    padding: 35px 0;
    color: white;
}

.kiddies-cream {
    padding: 35px 35px;
}

.coffee-section {
    background-color: $headings-colour;
    color: white;
    padding: 35px 0;
}